<%- include("partials/header") -%>
<% if(posts){ %>
<% posts.forEach(function(post){%>
  <h1> <%= post.title %></h1>
  <p> <%=  post.post.substr(0,200) %> ...<% if(post.post.length>200){ %> <a href="/posts/<%=post.title%>">continue reading</a> <%}%></p>
<% }) %>
<% } %>

<%- include("partials/footer") -%>
